{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/globals.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    
  </head>
  <body>
    <div class="login">
      <div class="frame"></div>
      <div class="untitled-design-wrapper"><img src="{% static 'img/Untitled design.png' %}" /></div>
      <div class="div">
        <div class="text-wrapper">Log in</div>
        <p class="p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua.
        </p>
        </a><div class="button">
          <div class="overlap-group">
            <img class="pic" src="{% static 'img/pic--.PNG'%}"/>
            <img class="forward" src="{% static 'img/pic-.PNG'%}"/>
            <div class="text-wrapper-2">Student</div>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap">
            <img class="img" src="img/pic-.PNG" />
            <img class="forward-2" src="img/forward.png" />
            <div class="text-wrapper-3">Admin</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
