
.loginstudent-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: row;
}
 
.loginstudent-frame3 {
  width: 50%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(133, 75, 171, 1);
}
 
.loginstudent-button {
  top: 41px;
  left: 81px;
  width: 210px;
  height: 70px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.loginstudent-rectangle18 {
  top: 0px;
  left: 0px;
  width: 196px;
  height: 68px;
  position: absolute;
}
 
.loginstudent-back {
  top: 0px;
  left: 14px;
  width: 72px;
  height: 70px;
  position: absolute;
}
 
.loginstudent-text1 {
  top: 14px;
  left: 98px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.loginstudent-column1 {
  top: 225px;
  left: 180px;
  width: 482px;
  height: 620px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.loginstudent-text2 {
  color: rgba(255, 255, 255, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Regular;
  text-align: left;
  font-family: Erica One;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.loginstudent-text3 {
  top: 139.7818145751953px;
  left: -1.8189894035458565e-12px;
  color: rgba(255, 255, 255, 1);
  width: 482px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.loginstudent-image1w1 {
  left: -3px;
  width: 100%;
  bottom: -10px;
  height: 380px;
  position: absolute;
}
 
.loginstudent-frame2 {
  width: 50%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.loginstudent-untitleddesign1 {
  top: 0;
  left: 0;
  width: 951px;
  height: 100%;
  position: relative;
  object-fit: cover;
  margin: 0;
}
 
.loginstudent-ellipse2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 1024px;
  position: absolute;
  align-items: center;
  justify-content: center;
}
 
.loginstudent-frame4 {
  gap: 171px;
  top: 20%;
  left: 15%;
  width: 539px;
  height: 625px;
  display: flex;
  padding: 80px 69px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.20000000298023224);
  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgba(151, 122, 169, 0.699999988079071);
}
 
.loginstudent-form {
  width: 410px;
  height: 372px;
  display: flex;
  flex-direction: column;
}
 
.loginstudent-email-input {
  gap: var(--dl-layout-space-halfunit);
  margin: 20px 0 20px 0;
  display: flex;
}
 
.loginstudent-mageemail {
  gap: 10px;
  width: 38px;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.loginstudent-group {
  width: 29px;
  height: 26.916667938232422px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.loginstudent-vector1 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 27px;
  position: absolute;
}
 
.loginstudent-vector2 {
  top: 6.475833415985107px;
  left: 0.07441680133342743px;
  width: 29px;
  height: 7px;
  position: absolute;
}
 
.loginstudent-textinput1 {
  width: 373px;
  height: 60px;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 10px;
}
 
.loginstudent-textinput1:focus {
  outline: none;
  box-shadow: 0 0 10px #a855f7;
  border-color: #a855f7;
}
 
.loginstudent-container2 {
  gap: var(--dl-layout-space-halfunit);
  margin: 20px 0 20px 0;
  display: flex;
}
 
.loginstudent-carbonpassword {
  width: 38px;
  height: 48px;
}
 
.loginstudent-textinput2 {
  width: 373px;
  height: 60px;
  transition: 0.3s;
  border-width: 0px;
  border-radius: 10px;
}
 
.loginstudent-textinput2:focus {
  outline: none;
  box-shadow: 0 0 10px #a855f7;
  border-color: #a855f7;
}
 
.loginstudent-buttons {
  gap: 10px;
  width: 410px;
  height: 55px;
  display: flex;
  padding: 6px 20px;
  overflow: hidden;
  margin-top: var(--dl-layout-space-fourunits);
  align-items: center;
  flex-shrink: 0;
  border-radius: 15px;
  justify-content: center;
  background-color: var(--dl-color-default-violet4);
}
 
.loginstudent-text4 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: center;
  line-height: 129.99999523162842%;
}
.loginstudent-buttons:hover {
  cursor: pointer;
  transform: scale(1.08);
}
 
.loginstudent-frame32 {
  gap: 5px;
  width: 346px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-layout-space-unit);
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
 
.loginstudent-text5 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.loginstudent-text6 {
  color: rgba(211, 177, 255, 1);
  height: auto;
  font-size: 24px;
  font-style: SemiBold;
  text-align: right;
  font-family: Montserrat;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
